[Unit]
Description=Pixelclock

[Service]
ExecStart=/root/pixelclock/init.sh start
Restart=always
User=nobody
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
WorkingDirectory=/root/pixelclock

[Install]
WantedBy=multi-user.target